In [9]:
from tkinter.tix import Select
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from offensive_stats import Offensive_Stats
from selenium.webdriver.support.ui import Select
import time
import datetime as dt

In [10]:
options = Options()
options.add_argument("--headless")
options.add_argument("--disable-gpu")
options.add_argument("--window-size=1920x1080")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
team_stats = Offensive_Stats(driver)
x = team_stats.get_offense_team_stats(4)
x

,Team,Att,Cmp,Cmp%,Yds/Att,PassYds,TD,INT,Rate,1st,...,Rush_1st,Rush_1st%,Rush_FUM,3rd_Att,3rd_Md,4th_Att,4th_Md,Rec_1st,Rec_1st%,Scrm_Plys
0,49ers,514,343,66.7,8.6,4437,26,14,99.2,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bears,542,332,61.2,6.7,3635,16,20,75.5,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bengals,555,384,69.2,8.7,4806,36,14,106.9,208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bills,655,415,63.4,6.8,4450,36,16,91.3,236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Broncos,541,354,65.4,7.1,3856,20,9,91.7,179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Seahawks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121,25.2,NaN,200,79,14,7,190,55.7,1046
28,Steelers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75,19,NaN,195,67,15,2,147,46.7,937
29,Texans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112,25.8,NaN,193,84,25,13,203,57.2,1017
30,Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104,23.4,NaN,185,70,14,4,177,59.6,949
31,Vikings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106,22.3,NaN,194,83,15,8,171,53.6,970

In [8]:
x

,Team,Att,Cmp,Cmp%,Yds/Att,PassYds,TD,INT,Rate,1st,...,Rush_1st,Rush_1st%,Rush_FUM,3rd_Att,3rd_Md,4th_Att,4th_Md,Rec_1st,Rec_1st%,Scrm_Plys
0,49ers,514,343,66.7,8.6,4437,26,14,99.2,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bears,542,332,61.2,6.7,3635,16,20,75.5,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bengals,555,384,69.2,8.7,4806,36,14,106.9,208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bills,655,415,63.4,6.8,4450,36,16,91.3,236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Broncos,541,354,65.4,7.1,3856,20,9,91.7,179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Seahawks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121,25.2,NaN,200,79,14,7,190,55.7,1046
28,Steelers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75,19,NaN,195,67,15,2,147,46.7,937
29,Texans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112,25.8,NaN,193,84,25,13,203,57.2,1017
30,Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104,23.4,NaN,185,70,14,4,177,59.6,949
31,Vikings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106,22.3,NaN,194,83,15,8,171,53.6,970